* {
  margin: 0;
  padding: 0;
}

body {
  background: #e5e5e5;
}

a {
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
}

li:hover {
  transform: scale(1.1);
  transition: all 0.4;
}

i {
  cursor: pointer;
}

i:hover {
  transform: scale(1.2);
  transition: all 0.5;
}
