.navbar {
  position: sticky;
  top: 0;
  min-height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 5px 25px;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.logo:hover {
  transform: scale(1.2);
  transition: all 0.7s;
}

.overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #6070ff;
  mix-blend-mode: multiply;
  backdrop-filter: blur(5px);
}

.mobileNavbar {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  font-size: xx-large;
  width: 75%;
  position: absolute;
  top: 70px;
}

.mobileNavbar ul li a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
}

.mobileNavbarItems {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hamburger {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.hide {
  display: none;
}

.closeBtn {
  margin-top: -45px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.closeBtn:hover {
  transform: scale(1.2);
  transition: all 0.7s;
}

.hamburger:hover {
  transform: scale(1.2);
  transition: all 0.7s;
}

.blurred_intro {
  z-index: -1;
  position: relative;
}

.headerBg {
  height: 90vh;
  justify-content: left;
  background-image: url(./Assets/images/headerMobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
  border-bottom-left-radius: 75px;
  margin-bottom: 50px;
}

.intro {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  height: 95%;
  padding: 0 15px;
}

.title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  width: 75%;
}

.description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connectBox {
  display: flex;
  flex-direction: column;
}

.connectTitle {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.smm-icons {
  display: flex;
  justify-content: flex-start;
  row-gap: 20px;
}

.smm-icons img {
  height: 20px;
}

.smm-icons li {
  padding-right: 20px;
}

.worksCards {
  display: grid;
  align-items: center;
  height: 400vh;
  padding: 0 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 16px;
  gap: 12px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  height: 95%;
}

.portfolioPic1 {
  background-image: url(./Assets/images/portfolio-cards/portfolio_card1.svg);
}

.portfolioPic2 {
  background-image: url(./Assets/images/portfolio-cards/portfolio_card2.svg);
}

.portfolioPic3 {
  background-image: url(./Assets/images/portfolio-cards/portfolio_card3.svg);
}

.portfolioPic4 {
  background-image: url(./Assets/images/portfolio-cards/portfolio_card4.svg);
}

.portfolioPic {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40%;
  width: 100%;
  border-radius: 8px;
}

.workDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  order: 1;
  flex-grow: 0;
  height: 48%;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
}

.projectTitle {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.clientDetail {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  order: 1;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.clientName {
  color: #344563;
}

.projectDesc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.projectTags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.actionBtn {
  display: flex;
  align-items: center;
  height: 30%;
}

.btn {
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background: #fff;
}

.btn:hover {
  color: #fff;
  background: #396df2;
  cursor: pointer;
}

.aboutMyself {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  padding: 114px 24px;
  gap: 24px;
  background: #fff;
  border-top-right-radius: 75px;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  height: 40%;
}

.aboutTitle {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.aboutDesc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  order: 1;
}

.aboutSM {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 50%;
  gap: 16px;
  order: 2;
}

.titleSM {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.iconsSM {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  order: 1;
}

.aboutBtn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 0;
  gap: 10px;
  order: 3;
}

.resumeBtn {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.03em;
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: 162px;
  height: 48px;
  color: #396df2;
  background: #fff;
}

.resumeBtn:hover {
  color: #fff;
  background: #396df2;
  cursor: pointer;
}

.myStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  order: 1;
  width: 100%;
}

.stackCategories {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.skillsStack {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 72px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.borderBottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.langList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 12px;
  width: 95%;
  height: 200px;
}

.lang {
  background: #f7f7f9;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  box-sizing: content-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.contactForm {
  height: 90vh;
  background-color: white;
}

.contactBg {
  background-color: #6070ff;
  border-top-left-radius: 75px;
  background-image: url(./Assets/images/contactForm_Bg_mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
}

.contactTop {
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 0 35px;
  margin-top: 90px;
}

.contactTitle {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.contactDesc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.contactMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin: 0 0 15px 15px;
}

.inputClass {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 85%;
  padding: 15px 18px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.input::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #b3bac5;
  display: flex;
  align-items: center;
}

.textareaClass {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 85%;
  height: 15vh;
  resize: none;
  padding: 10px 18px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.textareaClass::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #b3bac5;
  display: flex;
  align-items: center;
}

.submitBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  background: #fff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  width: 50%;
}

.submitBtn:hover {
  cursor: pointer;
  color: #fff;
  background: #6070ff;
  border: 1px solid #fff;
}

@media only screen and (min-width: 768px) {
  .navbar {
    position: sticky;
    top: 0;
    min-height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
  }

  .logo {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .desktopNavbar {
    width: 40%;
  }

  .navbarItems {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .navbarItems li a {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
  }

  .smm-icons li {
    padding-right: 20px;
  }

  .navbarItems li:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.5s;
  }

  .hamburger {
    display: none;
  }

  .headerBg {
    height: 90vh;
    background-image: url(./Assets/images/desktop_Header_Bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border-bottom-left-radius: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 60%;
    height: 50%;
  }

  .title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    letter-spacing: 0.37px;
    color: #091e42;
    align-items: center;
  }

  .description {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  .connectBox {
    display: flex;
    flex-direction: column;
  }

  .connectTitle {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .smm-icons {
    display: flex;
    justify-content: flex-start;
    row-gap: 20px;
  }

  .smm-icons img {
    height: 20px;
  }

  .worksCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 0 20px;
    margin-top: 120px;
    margin-bottom: 120px;
    height: auto;
  }

  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    gap: 25px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    height: 50vh;
    width: 80%;
  }

  .reverse-direction {
    flex-direction: row-reverse;
  }

  .card:hover {
    cursor: pointer;
    border: 1px solid #6070ff;
    transform: scale(1.1);
    transition: all 0.3s;
  }

  .portfolioPic1 {
    background-image: url(./Assets/images/portfolio-cards/portfolio_card1_desktop.svg);
  }

  .portfolioPic2 {
    background-image: url(./Assets/images/portfolio-cards/portfolio_card2_desktop.svg);
  }

  .portfolioPic3 {
    background-image: url(./Assets/images/portfolio-cards/portfolio_card3_desktop.svg);
  }

  .portfolioPic4 {
    background-image: url(./Assets/images/portfolio-cards/portfolio_card4_desktop.svg);
  }

  .portfolioPic {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    width: 50%;
    height: 90%;
  }

  .workDescription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    order: 1;
    flex-grow: 0;
    height: 80%;
    width: 50%;
  }

  .project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
  }

  .projectTitle {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  .clientDetail {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 12px;
    order: 1;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #6b778c;
  }

  .clientName {
    color: #344563;
    font-weight: 500;
  }

  .projectDesc {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  .projectTags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  .tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  .actionBtn {
    display: flex;
    align-items: center;
    height: 20%;
  }

  .btn {
    padding: 12px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    background: #fff;
  }

  .btn:hover {
    color: #fff;
    background: #396df2;
    cursor: pointer;
  }

  .aboutMyself {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background: #fff;
    border-top-right-radius: 110px;
  }

  .aboutMe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    height: 40%;
    width: 35%;
  }

  .iconsSM {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    padding: 0;
    order: 1;
  }

  .aboutBtn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 0;
    gap: 10px;
    order: 3;
  }

  .myStack {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    order: 1;
    width: 45%;
  }

  .stackCategories {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .skillsStack {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 72px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
  }

  .langList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    gap: 12px;
    width: auto;
    height: auto;
  }

  .lang {
    background: #f7f7f9;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 20%;
    gap: 10px;
    padding: 10px;
    box-sizing: content-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #253858;
  }

  .contactForm {
    height: auto;
    background-color: white;
  }

  .contactBg {
    background-color: #6070ff;
    border-top-left-radius: 110px;
    background-image: url(./Assets/images/contactForm_Bg_desktop.svg);
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    height: 95vh;
  }

  .contactTop {
    height: 30%;
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    margin: 0;
    padding: 0;
  }

  .contactTitle {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  .contactDesc {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
  }

  .contactMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 60%;
    margin: 0;
  }

  .inputClass {
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 0;
    width: 50%;
    padding: 15px 18px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #172b4d;
  }

  .textareaClass {
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 0;
    width: 50%;
    height: 15vh;
    resize: none;
    padding: 10px 18px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #172b4d;
  }

  .submitBtn {
    width: auto;
    border: none;
  }
}

.labelClass {
  display: none;
}

.sizing {
  font-size: 24px;
}

#errorMsg {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: white;
}

.inputClass:invalid {
  border-color: red;
}
